@model ProductModel

@{
    HeaderWithInfoModel header = new HeaderWithInfoModel()
    {
        Title = "SHOP",
        ImageUrl = "https://cdn.pixabay.com/photo/2018/03/10/09/49/city-3213676_1280.jpg"
    };
}

<partial name="/Views/PartialViews/Components/_HeaderWithInfo.cshtml" model="@header" />
<!-- Product overview -->
<div class="container product-overview ">
    <!-- Images -->
    <div class="images">
        <!-- Main image -->
        @if (Model.ProductImageUrl != null && Model.ProductImageUrl.Count > 0) {
            <img class="main-image" id="detailsMainImage" src="/Images/ProductImages/@Model.ProductImageUrl[0]" alt="">

            <!-- Lower images -->
            <span class="lower-images">
                @for (int i = 0; i < Model.ProductImageUrl.Count; i++)
                {
                    <img src="/Images/ProductImages/@Model.ProductImageUrl[i]" alt="" onclick="SetMainImage()">
                }
            </span>
        } else
        {
            <img class="main-image" id="detailsMainImage" src="" alt="Image Not Found">
        }
    </div>

    <!-- Details -->
    <div class="details">
        <h1>@Model.ProductName</h1>
        <p class="details-text">@Model.ProductDescription</p>

        <hr>
        <span class="rating">
            <span class="star-background">
                <div class="fill-rating" style="width: 75%;"></div>
                <img src="/Images/Stars.svg" alt="">
            </span>
            <p>17 reviews</p>
        </span>

        <h1>$ @Model.Price</h1>

        <form class="productform">
            <span class="ammount">
                <span class="adjust-quantity">
                    <button onclick="DecreaseAmount()" type="button">-</button>
                
                    <h5 id="productquantityselector">1</h5>
                
                    <button onclick="IncreaseAmount()" type="button">+</button>
                </span>
                <button class="btn-theme">Add to Cart<i class="fa-regular fa-cart-plus"></i></button>
            </span>

            <div class="colours">
                @foreach (string colour in Model.Colours)
                {
                    <input type="radio" name="Colours"  id="@colour" class="color"  />
                    <label for="@colour" style="background-color: @colour;"></label>
                }
                <p>SKU: N/A</p>
            </div>
        </form>

        <button class="btn-white">ADD to wishlist</button>

        <p class="category">Category: Table Lamp, Light</p>
    </div>
</div>

<!-- Indepth product details -->
<div class="container indepth-details">
    <span class="detail-buttons">
        <button class="btn-white">DESCRIPTION</button>
        <button class="btn-white">ADDITIONAL INFO</button>
        <button class="btn-white">REVIEWS (0)</button>
        <button class="btn-white">SHIPPING & DELIVERY</button>
    </span>

    <div class="description">
        <h1>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</h1>
        <div>
        </div>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>
        <p>accusantium laborum pretium hic excepturi harum repellat facilisis convallis potenti, adipiscing lectus aliqua. Asperiores repudiandae ipsam error erat, accusamus, cum taciti unde?</p>
        <p>Praesentium, pariatur, tempora consequuntur purus sapiente, iaculis vitae consequatur, rhoncus earum eleifend, hendrerit ipsum rhoncus ex error, impedit! Alias laboris sequi curae aptent? Eu sagittis eu, distinctio tortor? Dapibus delectus! Consequuntur luctus. </p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et cusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata santus est Lorem ipsum dolor sit amet. Lorem ipsum dolor.</p>

        <img src="" alt="">
    </div>
</div>
