@{
    ViewData["Title"] = "Edit User";
}
@model UserModel

<section class="container">
    <div class="profile">
        <img src="https://cdn.pixabay.com/photo/2023/04/27/14/36/bird-7954788_960_720.jpg" alt="profile image"/>

        <div class="details">
            <div class="detail">
                <h6>Name: </h6>
                <p>@Model.FirstName @Model.LastName</p>
            </div>
            <div class="detail">
                <h6>Email: </h6>
                <p>@Model.Email</p>
            </div>
            <div class="detail">
                <h6>Phone Number: </h6>
                <p>@Model.PhoneNumber</p>
            </div>
            <div class="detail">
                <h6>Role: </h6>
                <p>@Model.Role</p>
            </div>

            <form method="post">
                
                <select name="role">
                    <option >Change role</option>
                    <option value="Admin">Admin</option>
                    <option value="Member">Member</option>
                </select>
                <button class="btn-theme" type="submit">Update Role</button>
            </form>

        </div>
    </div>
</section>
